%textContent {
    font-style: normal;
    font-size:$font-size-md;
    color:$grey;
}

%selectReset {
    border:none;
    padding:.5rem 4rem .5rem 1rem;
    background: $clear;
    background-image: resolve('up-n-down.png');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 1rem; 
    -webkit-appearance: none;
}