// Here goes all the variables

// Variables

// Container & grid  
// Media Queries
$screen-xs: 767px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
// Gutter
$gutter: 15px;

// Colors

// Base
$clear: #ffffff;
$dark: #000000;
// Shadows
$grey: #8c8c8c;
$grey-light: #c1c0c0;
// Brand colors
$color-primary: #ed1847;
$color-primary-alternative: #f13d8a;
$color-secondary: #f08148;
// Types
$text-color: $grey;
// Cache query string for font face
$font-cache: fd5a9b;
// Families
$font-family-primary: 'Calibri', 'Open Sans', sans-serif;
// Sizes
// Base and content font sizes
$font-size-sm: 1.4rem;
$font-size-base: 1.6rem;
$font-size-md: 1.8rem;
$font-size-lg: 2.0rem;
$font-size-xlg: 2.2rem;
// Headings font sizes
$font-size-headings :(
    h1: $font-size-h1,
    h2: $font-size-h2,
    h3: $font-size-h3,
    h4: $font-size-h4,
    h5: $font-size-h5,
    h6: $font-size-h6
);
$font-size-h1: 4.2rem;
$font-size-h2: 3.3rem;
$font-size-h3: 2.7rem;
$font-size-h4: $font-size-xlg;
$font-size-h5: $font-size-md;
$font-size-h6: $font-size-sm;
// weight
$font-light: 300;
$font-regular: 400;
