@import '../common';
// Local Variables
$screen-mobile: 467px;
.Box{
    $this: &;
    padding:2rem 2rem 2rem 10rem;
    background: resolve('shape.svg') no-repeat center center /cover;
    &-title,
    &-content{
        color: $clear;
    }

    &-title{
        margin:0;
        display: block;
        font-size: $font-size-h4;
    }

    &-content{
        font-size: $font-size-base;
        margin: 5px 0;
    }

    &-select{
        font-size:$font-size-md;
        margin-bottom: $gutter;
        width:100%;
        @extend %selectReset;
        font-family: $font-family-primary;
    }

    @media screen and (max-width: $screen-mobile){
        padding: 2rem;
    }
    @media screen and (max-width: $screen-xs) {}
    @media screen and (min-width: $screen-sm) {}
    @media screen and (min-width: $screen-md) {
        padding:2rem 7rem 2rem 16rem;

        &-title{
            font-size: $font-size-h3;
        }

        &-content,
        &-select{
            font-size: $font-size-h4;
        }

        &-select{
            width: 100%;
        }
    }
    @media screen and (min-width: $screen-lg) {}
}