@import '../common';
// Local Variables
.Featured{
    $this: &;
    position: relative;
    height: 60vh;

    &-figure{
        width: 100%;
        height: 100%;
    }

    &-image{
        width: 100%;
        height: 100%;
        object-fit: cover
    }

    .Box{
        width: 100%;
        position: absolute;
        top:50%;
        transform:translateY(-50%);
        right: 0;
    }

    @media screen and (max-width: $screen-xs) {}
    @media screen and (min-width: $screen-sm) {}
    @media screen and (min-width: $screen-md) {
        .Box{
            width: 71.4rem;
        }
    }
    @media screen and (min-width: $screen-lg) {}
}