@import '../common';
// Local Variables
.Footer{
    $this: &;
    &-address{
        padding:3rem 0;
    }

    &-text{
        @extend %textContent;
        margin: 0;
    }

    &-text{
        font-style: normal;
        font-weight: $font-regular;
        color:$grey;
    }

    // Kind of a submodule
    &-copyright{
        background: $color-primary;
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-align: center;

        &-text{
            font-size: $font-size-sm;
            color:$clear;
            text-transform: capitalize;
            margin:0;
        }
    }
    @media screen and (max-width: $screen-xs) {}
    @media screen and (min-width: $screen-sm) {}
    @media screen and (min-width: $screen-md) {
        &-address{
            padding:6rem 0;
        }
    }
    @media screen and (min-width: $screen-lg) {}
}