@import '../common';
// Local Variables
.Header{
    $this: &;
    padding:2rem 0;

    &-containerFlex{
        display: flex;
        align-items: center; 
        margin: 0 (-1 * $gutter);       
    }

    &-title,
    &-logo{
        padding: 0 $gutter;
    }

    // &-title{
    //     margin:0;
    //     font-weight: $font-light;
    //     font-size:$font-size-h3;
    // }

    &-logo{
        display: inline-block;
        // position: relative;

        // // &:before{
        // //     content:'';
        // //     height: 100%;
        // //     position: absolute;
        // //     top: 0;
        // //     right: 0;
        // //     width: 1px;
        // //     background-color: $grey-light;
        // // }
    }

    .Logo{
        padding:.5rem 0;
    }
    @media screen and (max-width: $screen-xs) {}
    @media screen and (min-width: $screen-sm) {}
    @media screen and (min-width: $screen-md) {
        &-title{
            font-size:$font-size-h2;
        }
    }
    @media screen and (min-width: $screen-lg) {}
}